&i2c0{
	clock-frequency = <I2C_BITRATE_FAST>;
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
 ds3231:ds3231@68{
		compatible = "analogdevices,ds3231";
		status = "okay";
		reg = <0x68>;
	};
 };
